.pc-frame {
    border: 2px solid #31A1C5 !important;
    padding: 10px;
    color: #31A1C5;
    margin-bottom: 10px;
}

.pc-table td {
    padding: 5px;
}

.pc-table {
    margin-top: 10px;
    margin-bottom: 15px;
}

.leftfix {
    margin-left: 10px;
}

.prestacraft .nav-tabs>li {
    float: none;
}

.prestacraft .dropdown-menu a {
    color: black !important;
}

.bootstrap .panel {
    background: transparent !important;
    position: static !important;
}

.bootstrap {
    border-color: #eff1f2 !important;
    box-shadow: none !important;
}

.tab-content {
    background: #fff;
}

#customizestyle {
    padding: 10px;
}

input[name="activateModule"] {
    margin-top: 30px !important;
}

.shop-list-title {
    background: white;
}

#footer {
    background-color: rgba(0,0,0,0.8) !important;
}

.alert {
    position: absolute !important;
    right: 15px;
    opacity: 1;
}

.pc-alert {
    width: 100%;
    padding: 12px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 15px;
}

.pc-success {
    background: #31A1C5;
    color: white;
}

.pc-errors {
    background: #b23a48;
    color: white;
}

.pc-informations {
    color: white;
    background: #99710c;
}

.prestacraft .nav-tabs>li.active>a, .prestacraft .nav-tabs>li.active>a:hover, .prestacraft .nav-tabs>li.active>a:focus {
    border: 1px solid #31A1C5 !important;
    border-radius: 0 !important;
    text-align: center;
}

.prestacraft a {
    color: #31A1C5 !important;
    text-align: center;
}

.prestacraft .nav {
    background: #fff;
    padding:5px 3px 5px 5px;
}

.prestacraft .panel {
    border-radius: 0 !important;
}

.prestacraft-left {
    widthh: 100%;
}

.prestacraft .logo-container {
    width: 100%;
    background: #fff;
    text-align: center;
}


.prestacraft-left .pc-logo {
    max-width: 100% !important;
    margin-top: 6px;
    border-bottom: 1px solid #31A1C5;
    margin-bottom: 15px;
}

.prestacraft-left .pc-checker img {
    max-width: 100% !important;
}

.pc-info {
    text-align: center;
    margin-top: 20px;
}

.pc-checker {
    background: #fff;
    width: 100%;
    text-align: center;
}

.mColorPicker {
    width: 100px !important;
}