.prestacraft-close {
	border: none;
	outline: none;
	background: transparent;
	cursor: pointer;
	position: absolute;
	right: 10px;
	top: 15px;
	font-size: 26px;
	font-weight: bold;
	font-family: monospace;
}

div.popup img {
	max-width: 100%;
	height: auto;
}

.tingle-modal__close {
	display: none;
}